.header {
  background-color: #062b54;
  height: 50px;
}
.nav {
  width: min-content;
  padding: 4px;
  font-weight: bolder;
  margin-top: 5px;
  font-size: larger;
  border: 1px solid whitesmoke;
  background-color: orange;
}
a {
  text-decoration: none;
  color: black;
}
