<div class="container-fluid">
  <div class="row r1">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg d-inline-flex p-2">
          <div class="Info">
            <img src="assets/img/Personal-Profile.png" alt="Personal-Profile">
            <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
            <label id="label">PERSONAL PROFILE</label>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <img src="../../assets/img/career-objetive.png" alt="Personal-Profile">
            <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
            <label id="label">CAREER OBJECTIVE</label>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <img src="../../assets/img/education.png" alt="Personal-Profile">
            <img src="../../assets/img/right-arrow.png" class="arrow" alt=" arrow"><br>
            <label id="label">EDUCATION</label>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <img src="../../assets/img/skills.png" alt="Personal-Profile"><br>
            <label id="label">TECHNICAL SKILLS</label>
          </div>

        </div>
        <!-- <div class="col-lg-2 d-flex">

            <div class="u-turn">
            <img src="../../assets/img/u-turn-big.png" height="280" width="210" alt="Personal-Profile">
          </div>

        </div> -->
      </div>
      <div class="row">
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <img src="../../assets/img/document.png" alt="Personal-Profile">
            <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
            <label id="label">DECLARATION</label>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <img src="../../assets/img/like.png" alt="Personal-Profile">
            <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
            <label id="label">INTERESTS</label>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <img src="../../assets/img/award.png" alt="Personal-Profile">
            <img src="../../assets/img/right-arrow.png" class="arrow" alt=" arrow"><br>
            <label id="label">ACHIEVEMENTS & AWARDS</label>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <img src="../../assets/img/project.png" alt="Personal-Profile"><br>
            <label id="label">PROJECTS</label>
          </div>
        </div>
        <!-- <div class="col-lg-2 d-flex c1"></div> -->
      </div>
    </div>
    <div class="col-lg-2">
      <div class="u-turn">
        <img src="../../assets/img/u-turn-big.png" height="240" width="200" alt="Personal-Profile">
      </div>
    </div>
  </div>
</div>