.Info {
  margin: auto;
  font-weight: bold;
}
.arrow {
  margin-left: 85px;
}
.u-turn {
  padding: 2px;
}
#label {
  margin: auto;
}
.r1 {
  margin: 150px 0px 0px 0px;
}
.r2 {
  margin-top: 10px;
}
a {
  color: black;
}
