<div class="container-fluid">
  <div class="row r1">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg d-inline-flex p-2">
          <div class="Info">
            <a routerLink="/form-page">
              <img src="assets/img/Personal-Profile.png" alt="Personal-Profile">
              <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
              <label id="label">PERSONAL PROFILE</label>
            </a>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <a routerLink="/form-page">
              <img src="../../assets/img/career-objetive.png" alt="Personal-Profile">
              <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
              <label id="label">CAREER OBJECTIVE</label>
            </a>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <a routerLink="/form-page">
              <img src="../../assets/img/education.png" alt="Personal-Profile">
              <img src="../../assets/img/right-arrow.png" class="arrow" alt=" arrow"><br>
              <label id="label">EDUCATION</label>
            </a>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <a routerLink="/form-page">
              <img src="../../assets/img/skills.png" alt="Personal-Profile"><br>
              <label id="label">TECHNICAL SKILLS</label>
            </a>
          </div>

        </div>
      </div>
      <div class="row r2">
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <a routerLink="/form-page">
              <img src="../../assets/img/document.png" alt="Personal-Profile">
              <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
              <label id="label">DECLARATION</label>
            </a>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <a routerLink="/form-page">
              <img src="../../assets/img/like.png" alt="Personal-Profile">
              <img src="../../assets/img/right-arrow.png" class="arrow" alt="arrow"><br>
              <label id="label">INTERESTS</label>
            </a>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <a routerLink="/form-page">
              <img src="../../assets/img/award.png" alt="Personal-Profile">
              <img src="../../assets/img/right-arrow.png" class="arrow" alt=" arrow"><br>
              <label id="label">ACHIEVEMENTS & AWARDS</label>
            </a>
          </div>

        </div>
        <div class="col-lg d-inline-flex p-2">

          <div class="Info">
            <a routerLink="/form-page">
              <img src="../../assets/img/project.png" alt="Personal-Profile"><br>
              <label id="label">PROJECTS</label>
            </a>
          </div>
        </div>
        <!-- <div class="col-lg-2 d-flex c1"></div> -->
      </div>
    </div>
    <div class="col-lg-2">
      <div class="u-turn">
        <img src="../../assets/img/u-turn-big.png" height="240" width="200" alt="Personal-Profile">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-5 offset-3">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Reset</button>
        <button class="btn btn-primary" type="Submit">Submit</button>
      </div>
    </div>
  </div>
</div>